* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 216px;
    height: 253px;
    margin: 50px auto;
    background-image: url("oYiTqum.jpg");
    background-position: center;
    background-size: cover;
    border-radius: 27px;
    position: relative;
    overflow: hidden;
    transition-delay: 0.2s;
}

.container:hover > .overlay {
    transform: translateY(-50px);
    transition-delay: 0.1s
}

.overlay {
    position: absolute;
    top: 253px;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: white;
    animation: ;
}

.overlay-information {
    height: 100%;
}

.overlay-information img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    vertical-align: top;
}

.overlay-information .content {
   display: inline-block; 
   padding-top: 9px;
}

@keyframes mymove {
    from {top: 253px;}
    to {top: 203px;}
  }



/* .overlay-loading {
    height: 60%;
} */



/* position

    relative: Dịch chuyển khối so với vị trí ban đầu 
    absolute: Dịch chuyển khối so với góc trên bên trái của cha hoặc của trình duyệt
-> 2 điều kiện (chứa thẻ con  + phải có thuộc tính relative hoặc absolute) 

    fixed
    sticky  
*/
    /* top left right bottom  */