* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .box-table {
    width: 80%;
    height: 700px;
    margin: 30px 10%;
    border: 5px solid black;
  }
  .box-signup {
    width: 94%;
    margin: 0 3%;
    line-height: 50px;
    height: 50px;
    display: flex;
    justify-content: flex-end;
  }
  .add-table {
    line-height: 50px;
    width: 94%;
    margin: 0 3%;
  
    justify-content: flex-end;
    position: relative;
  }
  .find-tag {
    height: 50px;
    display: flex;
    justify-content: flex-end;
  }
  .data-table {
      position: absolute;
    width: 100%;
    height: 550px;
    border: 5px solid black;
  }
  